// * Максимальная ширина макета
$container-width: 975;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #9fe9ff;
	--blue-color: #69b9ff;
	--pearly-blackberry: #676770;
	--dark-gray: #8e8e9c;
	--lavender-color: #dcebf7;
	--light-slate-gray: #6a859c;
}
