<header class="header">
	<div class="header__container">
			<img class="logo__img" src="@img/header/logo.svg" alt="Logo">
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" href="#" data-goto=".section-1">Home</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#" data-goto=".section-2">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>