.hero {
	background-image: url('../img/hero/bg-hero.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__container {
		padding: 185px 0 200px;
	}

	&__title {
		margin: 0;
		margin-bottom: 105px;
		font-weight: 400;
		font-size: 60px;
		letter-spacing: 4px;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
	}

	&__wrap {
		display: flex;
		justify-content: center;
	}

	&--margin-link {
		margin-right: 20px;
	}
}
