.hero {
	background-image: url('../img/hero/bg-hero.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__container {
		padding: 185px 0 200px;
	}

	&__title {
		margin: 0;
		margin-bottom: 105px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 60px;
		letter-spacing: 4px;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
	}

	&__wrap {
		display: flex;
		justify-content: center;
	}

	&__link {
		margin-right: 20px;
		border: 2px solid;
		border-color: var(--blue-color);
		border-radius: 4px;
		padding: 12px 31px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
		background-color: var(--blue-color);
	}

	:hover {
		border-color: var(--light-color);
		background-color: transparent;
		transition: 0.5s;
	}
}
