.services {
	padding: 80px 0 95px;
	background: var(--bg-color);

	&__title {
		margin: 0;
		margin-bottom: 15px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: 5px;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
	}

	&__text {
		margin: 0;
		margin-bottom: 60px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 17px;
		line-height: 20px;
		letter-spacing: 3px;
		text-align: center;
		text-transform: uppercase;
		color: var(--gainsborough-color);
	}

	&__blocks {
		display: flex;
		justify-content: space-around;
	}
}

.services-block {
	max-width: 430px;

	&__img {
		margin-bottom: 20px;
		width: 430px;
		height: auto;
	}

	&__title {
		margin: 0;
		margin-bottom: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 7px;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
	}

	&__text {
		margin: 0;
		margin-bottom: 15px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 25px;
		text-align: center;
		color: var(--light-color);
	}

	&__link {
		display: block;
		margin-right: auto;
		margin-left: auto;
		border: 2px solid;
		border-color: var(--blue-color);
		border-radius: 4px;
		padding: 12px 31px;
		width: 195px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
		background-color: var(--blue-color);

		&:hover {
			border-color: var(--light-color);
			background-color: transparent;
			transition: 0.5s;
		}
	}
}
